.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
*.blend1
src/viz/wasmComp/*
!src/viz/wasmComp/.gitkeep
static/*.bin
static/*.gltf
static/*.glb
blender
static/*.png
static/*.br
