.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
*.blend1
src/viz/wasmComp/*
!src/viz/wasmComp/.gitkeep
static/*.bin
static/*.gltf
static/*.glb
blender
static/*.png
static/*.br
src/ammojs/*
!src/ammojs/.gitkeep
!src/ammojs/ammoTypes.ts
yarn-error.log
static/textures
src/geodesics/geodesics.wasm
src/geodesics/geodesics.js
session.json
src/viz/wasm/build2/*
!src/viz/wasm/build2/.gitkeep
src/viz/wasm/clipper2/*
!src/viz/wasm/clipper2/.gitkeep
!src/viz/wasm/clipper2/clipper2.ts
!src/viz/wasm/clipper2/clipper2z.d.ts
rustc-ice-*.txt
