.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
*.blend1
src/viz/wasmComp/*
!src/viz/wasmComp/.gitkeep
static/*.bin
static/*.gltf
static/*.glb
blender
static/*.png
static/*.br
src/ammojs/*
!src/ammojs/.gitkeep
static/ammo.wasm.wasm
static/pillar.jpg
static/normal_map_gen.wasm
yarn-error.log
static/texture_crossfade.wasm
static/normal_map_gen_simd.wasm
static/ammo.wasm.js
static/point_distribute.wasm
static/cave_bg.wasm
static/terrain.wasm
static/textures
static/stone.d.ts
static/stone.js
static/stone_bg.wasm
static/stone_bg.wasm.d.ts
src/geodesics/geodesics.wasm
src/geodesics/geodesics.js
