node_modules
build
dist
.svelte-kit
public/build
geoscript_backend
backend
src/viz/wasm/target
src/viz/wasm/geodesics
src/viz/wasm/uv_unwrap
src/viz/wasm/cgal
src/api
src/geoscript/parser
static
src/viz/wasmComp
src/viz/wasm/build
README.md
src/geodesics/geodesics.js
src/ammojs
