{
  "jsxSingleQuote": true,
  "printWidth": 110,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "src/(.*)", "^[./].*$"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderBuiltinModulesToTop": true
}
