p {
  line-height: 1.4;
}

h2 {
  margin-bottom: 32px;
}

@media (max-width: 600px) {
  ul {
    padding-inline-start: 20px;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}
